@import "reset.css";
@import "toggler.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

/*-------------------------------- 
-------------------------HEADER*/
body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #4a4a4a;
    height: 56px;
}

.navbar__list-ini li {
    float: left;
    text-align: center;
    padding: 18px;
    list-style: none;
}


.navbar__list-ini li>a,
.dropdown__btn {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}

.dropdown::after {
    vertical-align: bottom;
    height: 5px;
    display: inline-block;
    margin-left: .255em;
    content: "";
    color: #b6b6b6;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.search {
    float: right;
    padding: 9px 14px 10px 0;
}

.search__label {
    font-size: 16px;
    color: #cccccc;
    border-color: black
}

.search__input {
    margin: 0 8px 0 16px;
    width: 203px;
    height: 37px;
    border: 0;
    border-radius: 4px;
    background-color: #ffffff;
}

.button {
    height: 40px;
    border: 0;
}

.button--submit {
    border-radius: 4px;
    background-color: #ffe55d;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 600;
}


/*-------------------------------- 
-------------------------MAIN*/

/*-------------------------------- 
-------------------------section intro*/


.section-intro {
    height: 382px;
    background-color: #efefef;
    padding: 61px 0 65px 61px;
    clear: both;
}

.section-intro h1 {
    font-size: 62px;
    color: #4a4a4a;
    margin-bottom: 20px;
    font-weight: 300;
}

.section-intro a {
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    background-color: #7ed321;
    padding-left: 16px;
    padding-right: 19px;
    padding-bottom: 18px;
    padding-top: 15px;
    font-weight: 600;
}

.section-intro a span {
    font-size: 20px;
    color: #ffffff;
}

.section-intro p {
    max-width: 833px;
    min-height: 95px;
    line-height: 27px;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 300;
}

.section-intro p span {
    font-weight: bold;
}

/*-------------------------------- 
-------------------------training*/
.training {
    display: flex;
    justify-content: center;
    padding: 69px 98px;
}

article img {
    float: left;
    margin-right: 16px;
    margin-top: 5px;
}

article + article{
    margin-left: 30px;
}

.col {
    max-width: 395px;
}

.col a {
    display: inline-block;
    text-decoration: none;
    font-size: 26px;
    color: #4a90e2;
    margin-bottom: 13px;
    font-weight: 300;
}

.col p {
    font-size: 16px;
    color: #333333;
    line-height: 1.69;
}


/*-------------------------------- 
-------------------------spot*/


.spot {
    padding: 100px 300px;
    height: 557px;
    background-color: #e8f6fc;
    display: flex;
    justify-content: center;
    clear: left;
}

.spot__form {
    margin-left: 37px;
    float:right;
}

.spot__video {
    display: inline-block;
    vertical-align: top;
}

.spot__form h3 {
    font-size: 26px;
    color: #4a4a4a;
    margin-bottom: 10px;
    font-weight: 300;
}

.spot__form p {
    max-width: 303px;
    margin-bottom: 37px;
    line-height: 1.69;
}

.spot__form__send-email__label, .spot__form p {
    font-size: 16px;
    color: #333333;

}

.spot__form__send-email__input {
    border: 1px #dadada solid;
    border-radius: 8px;
    background-color: #ffffff;
    height: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 13px;
    font-size: 16px;
    color: #9b9b9b;
    margin: 5px 0px 14px 0px;
}

.button--rounded {
    border-radius: 8px;
    background-color: #4a90e2;
    color: #ffffff;
    font-size: 16px;
}

.spot__form__send-email .button--rounded {
    padding: 0 12px;
    font-weight: 600;
}

/*-------------------------------- 
-------------------------servicios profesionales*/
.services{
    padding: 100px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    clear: right;
}

.services h2 {
    font-size: 34px;
    color: #4a4a4a;
    text-align: center;
    margin-bottom: 28px;
    font-weight: 300;
}

.services p {
    text-align: center;
    font-size: 16px;
    color: #333333;
}

.services > a {
    display: inline-block;
    text-decoration: none;
    padding-left: 46px;
    padding-right: 34px;
    padding-bottom: 11px;
    padding-top: 10px;
    margin-top: 13px;
    font-weight: 600;
}


/*-------------------------------- 
-------------------------FOOTER*/

.foot-element {
    padding-top: 14.5px;
    border-top: 1px #e5e5e5 solid; 
    height: 116px;
    margin-left: 97px;
    margin-right: 97px;
    display: flex;
    justify-content: space-between;
}

.foot-element ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.foot-element__li:first-child a {
    margin-left: 0;
}

.foot-element__li li a {
    color: #4a90e2;
    display: inline;
    text-decoration: none;
    font-size: 16px;
    margin: 18px;
}

.foot-element__copyright {
    font-size: 14px;
    color: #4a4a4a;
}